/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 95vh 1fr;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #4a4a4a;
	background-position: center;
	background-size: cover;
}

.logo {
    width: 30vw;
}

.center {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content;
	place-items: center;
	text-align: center;
	height: 80vh;
}

.text {
	color: #fff;
	font-weight: bold;
	font-size: 2.5rem;
	backdrop-filter: blur(5px) saturate(180%) brightness(0.7);
	width: 100vw;
	padding: 1rem 0 1.5rem 0;
}

.app-name {
	font-size: 5rem;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	text-align: center;
	width: 100vw;
	color: #fff;
	padding: 1rem 0;
}